    {% extends 'layout.html' %}
    {% block content %}
    <section class="row p-5">
      <div class="col-12 p-5">
        <article class="card card-body mx-auto" style="width: 50%">
          <h1>Update contact</h1>
          <form method="POST" action="/update/{{contact.id}}">
            <div class="mb-3">
              <label for="name" class="form-label">Update the name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="fullname"
                value="{{contact.fullname}}"
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Update the email</label>
              <input
                type="text"
                class="form-control"
                id="email"
                name="email"
                value="{{contact.email}}"
              />
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Update the phone</label>
              <input
                type="text"
                class="form-control"
                id="phone"
                name="phone"
                value="{{contact.phone}}"
              />
            </div>
            <button class="btn btn-primary">Save</button>
          </form>
        </article>
      </div>
    </section>
    {% endblock %}
